.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    border-right: 1px solid #1f1f1f;
    padding-top: 80px;
    transition: 0.25s ease;
    z-index: 999;
}

.sidebar.open {
    left: 0;
}

.sidebar-header {
    font-size: 22px;
    padding: 0 20px 20px;
}

.sidebar-item {
    padding: 15px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.15s;
}

.sidebar-item:hover {
    background: rgba(255, 215, 0, 0.1);
    color: #ffd071;
}
